i am using julia functions in python via pyjulia.

Is pyjulia fastr than python?

based on my test the answer is yes!

environment: macbook pro m2, 24g ram

matrix multiplication for 1000 loops

numpy: 52s

numba: 55s

pyjulia: 20s

my methodology might have flaws。

In [13]:
import numpy as np
d = 100
np.random.seed(9987)
img1 = np.random.rand(d,d) * 5
img2 = np.random.rand(d,d) * 10
img3 = np.random.rand(d,d) * 15

In [22]:
%%timeit
def add_arrays(img1, img2, img3):
    return img1.dot(img2).dot(img3)
res = add_arrays(img1, img2, img3)
for i in range(0,999):
    res = add_arrays(img1, img2, img3) + res
res

172 ms ± 16 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [5]:
from numba import jit, njit

In [6]:
%%time
@jit(nopython=True)
def add_arrays_numba(img1, img2, img3):
    res = img1.dot(img2).dot(img3)
    for i in range(0,999):
        res = img1.dot(img2).dot(img3) + res
    return res
add_arrays_numba(img1, img2, img3)

CPU times: user 6min 7s, sys: 13.8 s, total: 6min 20s
Wall time: 55.1 s

array([[9.88568412e+10, 9.78604658e+10, 9.66680429e+10, ...,
        9.73998770e+10, 9.52329747e+10, 9.90420342e+10],
       [9.40986631e+10, 9.31475249e+10, 9.20485680e+10, ...,
        9.27143130e+10, 9.06622496e+10, 9.43313234e+10],
       [9.46538800e+10, 9.36801743e+10, 9.26299943e+10, ...,
        9.32901721e+10, 9.11970987e+10, 9.48370782e+10],
       ...,
       [9.49326770e+10, 9.39471571e+10, 9.28640450e+10, ...,
        9.35714951e+10, 9.14663924e+10, 9.51232922e+10],
       [9.57524969e+10, 9.47901989e+10, 9.37009184e+10, ...,
        9.43720687e+10, 9.22873880e+10, 9.59757649e+10],
       [9.35055629e+10, 9.26085586e+10, 9.14846754e+10, ...,
        9.21646122e+10, 9.01229034e+10, 9.37072070e+10]])

In [11]:
from julia.api import Julia
jl = Julia(compiled_modules=False)

jl.eval("@eval Main import Base.MainInclude: include")
from julia import Main
Main.include("others/ljulia.jl")
from julia import Base

In [23]:
%%timeit
Main.matrixMultiplicationLoop(img1, img2, img3)

91.3 ms ± 8.82 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

numpy.float64

In [ ]:
def for_loop(iterations = 100):
    a = 0
    for i in range(iterations):
        a = a + 1
    return a
for_loop(iterations = 10_000_0000)

100000000

In [ ]:
Main.for_loop(10_000_0000)

100000000

In [ ]:

print(Main.add(1,2))
print(Main.divide(1,2))

In [ ]:
import pandas as pd
dff = pd.DataFrame({"a":[1,2,3], "b":[4,5,6]})
dff

   a  b
0  1  4
1  2  5
2  3  6

In [ ]:
mydff = Main.myDf(3,4)

In [ ]:
mydff
from julia import Pandas as jlpd
jlpd.DataFrame(mydff)

   A  B
0  1  M
1  2  F
2  3  F
3  4  M